DotaHero-UIKit/Pods/
DotaHero-UIKit/Podfile.lock
DotaHero-UIKit/*.xcworkspace
DotaHero-UIKit/*.xcodeproj
DotaHero-UIKit/DotaHero/Resources/Info*
DotaHero-UIKit/build/*

DotaHero-SwiftUI/Pods/
DotaHero-SwiftUI/Podfile.lock

DTCommonModule/Pods/
DTCommonModule/Podfile.lock

DTDataModule/Pods/
DTDataModule/Podfile.lock

DTDomainModule/Pods/
DTDomainModule/Podfile.lock